body {
	font-family: $ff-main;
	font-size: 1rem;
	line-height: 36px;

}

html {
	box-sizing: border-box;
	font-size: 18px;

	@media (max-width: 500px) {
		font-size: 16px;
	}
}

*, *:before, *:after {
	box-sizing: inherit;

}

ul,
ol {
	margin: 0;
	list-style-type: none;
}
a{
	text-decoration:none;
}
