body {
	font-family: $ff-main;
	font-size: 1rem;
	line-height: 1.2;

}

html {
	box-sizing: border-box;
	font-size: 20px;
	@media (max-width: 1000px) {
		font-size: 16px;
	}
	@media (max-width: 600px) {
		font-size: 14px;
	}
}

*, *:before, *:after {
	box-sizing: inherit;

}

ul,
ol {
	margin: 0;
	list-style-type: none;
}

