.container {
	max-width: 1024px;
	margin: auto;

}

.is-hidden {
	display: none!important;
}

.visually-hidden {
	text-indent: -9999px;
	font-size: 0;
}
h1 {
	font-size: 3rem;
line-height: 1.5;
letter-spacing: 5px;
margin: 0 0 10px 0;
color:#e38480;

}
p{
	margin:0;
}
a{
	text-decoration: none;}
.title{
	text-align: center;
	font-family:$ff-main;
	font-weight: bold;
font-size: 2.5rem;
letter-spacing: 3px;
margin-bottom: 80px;
color:#254260;
line-height: 1.2;
text-transform: uppercase;
@media(max-width: 500px){
	font-size: 1.6rem;

}

}
section{
			margin-bottom: 120px;

	@media(max-width: 600px){
		margin-bottom: 70px;
	}
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.button{
display: block;
border-radius: 5px;
border:1px solid transparent;
padding: 15px 30px;
color:#a9cdf2;
background-color: #254260;
}