.title Ключевые позиции
section.about
	.container
		.nbc.nbc-banners(id='banners')
			.nbc-container
				.nbc-wrapper
					.nbc-slide
						.about_desc
							img.about_image(src='images/adapt.jpg', alt='адаптивность')
							p.about_text Адаптивность и кроссбраузерность
					.nbc-slide
						.about_desc
							img.about_image(src='images/valid.jpg', alt='Валидность')
							p.about_text Валидность форм и кода в целом
					.nbc-slide
						.about_desc
							img.about_image(src='images/speed.jpg', alt='Скорость')
							p.about_text Скорость и безопасность
					.nbc-slide
						.about_desc
							img.about_image(src='images/seo.jpg', alt='seo')
							p.about_text  Базовые элементы SEO оптимизации
					.nbc-slide
						.about_desc
							img.about_image(src='images/amin.jpg', alt='Админпанель')
							p.about_text Админпанель
						

