section.about
	.container
		.title Ключевые позиции в проектах
		.nbc.nbc-banners(id='banners')
			.nbc-container
				.nbc-wrapper
					.nbc-slide.about_desc
						.about_image
							img.image_desc(src='images/adapt.jpg', alt='адаптивность')
						p.about_text Адаптивность и кроссбраузерность
					.nbc-slide.about_desc
						.about_image
							img.image_desc(src='images/valid.jpg', alt='Валидность')
						p.about_text Валидность форм и кода в целом
					.nbc-slide.about_desc
						.about_image
							img.image_desc(src='images/speed.jpg', alt='Скорость')
						p.about_text Скорость и безопасность
					.nbc-slide.about_desc
						.about_image
							img.image_desc(src='images/seo.jpg', alt='seo')
						p.about_text  Базовые элементы SEO оптимизации
					.nbc-slide.about_desc
						.about_image
							img.image_desc(src='images/amin.jpg', alt='Админпанель')
						p.about_text Админпанель
						

