header.header(id='main')
	.header_top
		.contContacts
			.contacts_section
				i.fa.fa-mobile.fa-2x(aria-hidden='true')
				p +380686052291
			.contacts_section
				i.fa.fa-skype.fa-2x(aria-hidden='true') 
				p olya.kaplunova
		.header_menu_burger
			i.fa.fa-bars.fa-3x(aria-hidden='true')
		ul.header_menu
			li.header_link
				a(href='#main') Главная
			li.header_link
				a(href='#services') Услуги
			li.header_link
				a(href='#portfolio') Портфолио
			li.header_link
				a(href='#contact_form') Контакты


	.container 
		.header_description
			h1.header_title Разработка сайтов
			h2.header_title_desc Landing Page
			h2.header_title_desc сайт &mdash; визитка
			h2.header_title_desc сайт на WordPress
			p.header_text От верстки макета до тестирования конечного продукта

		