.title Наши работы
section(id='portfolio').portfolio
	.container
		a.portfolio_link(href='ourworks/index.html',target='_blank')

			.portfolio_image_item
				img.portfolio_image(src='images/work-1.png',alt='')
				.portfolio_link_text 
					p Вертска Landing Page
					p Перейти к просмотру 
		a.portfolio_link(href='http://junwpblog.zzz.com.ua',target='blank')
			.portfolio_image_item
				img.portfolio_image(src='images/work-2.jpg',alt='')
				.portfolio_link_text 
					p Сайт-визитка на WordPress 
					p Перейти к просмотру
