section.service(id='services')
	.title Мои услуги
	.container_service
		.service_item
			img.service_image(src='images/serv-1.png', alt='Верстка')
				
			ul.service_list
				li.service_list_item Верстка макета на базе готового дизайна
				li.service_list_item Внесение интерактивных элементов средствами JS, PHP (слайдеры, модальные окна, авторизация)
				li.service_list_item Подключение на WordPress
				li.service_list_item Правки и доработки действующего функционала
		.service_item
			
			img.service_image(src='images/serv-2.jpg', alt='Адаптация')
			ul.service_list
				li.service_list_item Адаптация под мобильные устройства
				li.service_list_item Разработка мобильной версии сайта
				li.service_list_item Разработка админки сайта
				li.service_list_item Проверка валидности форм и сайта в целом, тестирование
				li.service_list_item Перенесение на хост
		.service_item
			img.service_image(src='images/serv-3.jpg', alt='Работа с контентом')

			ul.service_list
				li.service_list_item Наполнение контентом, рекламой
				li.service_list_item Подготовка к SEO продвижению
				li.service_list_item Парсинг
				li.service_list_item Поддержание
		.service_section
			.service_calc
				p.cost_title Расчет стоимости
				.service_cost Стоимость работ рассчитывается индивидуально по каждому проекту. При этом учитывается сложность элементов, срочность и общий объем. При комплексном заказе доработок и правок предоставляется скидка в 10%. Начальная цена лэндинга - 150$, срок работы-до 10 дней. Внесение правок - от 300 грн(до 3 небольших).
			.service_bc
				img.service_bc-image(src='images/calc.jpg' alt='расчет')