footer{
	background: url('../images/bgFooter.jpg');
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
height: 400px;

	margin-top:100px;
	padding-top: 170px;
	@media (max-width: 730px) {
background:#585965;
	padding-top: 0;
height: 200px;

}

}
.form__title {
	color: #000;
	margin: 0 auto;
	padding-top: 40%;
	font-size: 1.5rem;
	text-transform: none;
}
.footer-container{
	//position: relative;
}
.form_container{
	display: none;
		@media (max-width: 730px) {

	display: block;
	width:80%;
	height: 300px;
	position:relative;
	top:-150px;
	margin:0 auto;
	text-align: center;
			background: url('../images/pen.jpg');
	background-size:cover;
}
		@media (max-width: 370px) {
	display: block;
	width:80%;
	height: 200px;
	position:relative;
	top:-50px;
	margin:0 auto;
	text-align: center;
			background: url('../images/pen.jpg');
	background-size:cover;

}
}
.contact_form{
		display: block;
		margin:0 auto;
		text-align: left;
	width:40%;
color:#000;
height: 400px;
	@media(max-width: 730px){
		display: none;
}


}

.form_field,.form_field_text, .submit_input{
	width:70%;
	padding: 10px 20px;
	margin: 10px auto;
	border:1px solid #858b8b;
	border-radius: 7px;
		@media(max-width: 350px){
	width:80%;
}
}

.form_field_text{
	height:180px;
}
.submit_input{
	background-color: #e38480;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
width:40%;
	@media(max-width: 350px){
		font-size: 0.7rem;
			padding: 10px;
	width:80%;

	}

}
.form_field_label{
	font-size: 0.7rem;
	line-height: 1;
	margin:0 0 30px 0;
}
.footer_desc{
	padding: 10px 0;
	text-align: center;
	color:#000;
background:#585965;

}
.footer_desc_text{
			display:block;

@media (max-width: 730px) {

	}
}
.footer_social{
	display:block;
	margin: 20px 0;
}
.footer__contactText{
margin:0;	
}
.footer_social_link{
	color:#fff;
	padding-right: 20px;
}
.footer__title{
	font-size: 2rem;
	margin-bottom: 30px;
	color:#a9cdf2;
}