.portfolio{
		text-align: center;

}
.portfolio__list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.portfolio_image_item{
	position:relative;
	margin: 0 20px;
}
.portfolio__list-item	{
			display: inline-block;
	width:32%;
min-width: 200px;
	text-align: center;


	margin: 0 auto 30px auto;

	vertical-align: top;
	@media(max-width: 450px){
			width:80%;

	}

}
.portfolio_image-liferia{
border:1px solid #000;
}
.portfolio__button{
margin: 10px auto; 
}
.portfolio_link{
	text-align: center;



	&:hover{
		.portfolio_image_item{
			//width:101%;
			transition: 0.5s;
	//height:101%;
}

		.portfolio_link_text{
			position: absolute;
			top:0;
			left:0;
			display:block;
		margin: 0;
		padding: 40% 0 0 0;
					width:100%;
	height:100%;
	z-index: 9999;
		box-sizing: border-box;
		background-color: rgba(164, 178, 181, 0.9);
	color:#254260;
}
	}
	.portfolio_image{
							width:100%;
	height:100%;

	}


}
.portfolio_link_text{
			display: none;
			font-size: 1rem;

	text-align: center;

	
}
.portfolio__text-none{
	display: none;
margin: 15px auto;
}

